<section>
    <header>
        <h1 class="text-info mt-5 mx-auto text-center">
            Seja bem vindo à The One Tests
        </h1>
    </header>
    <main class="mt-5 text-center">
        <a href="/consulta" class="btn btn-secondary mr-2"> Sou recrutador </a>
        <a href="/cadastro" class="btn btn-secondary"> Quero me candidatar </a>
    </main>
</section>